.custom-login {
    position: relative;
    top: 1.2rem;
    width: 90%;
    margin: 0 auto;
}

.custom-login>div {}

.custom-login-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.fa-school {
    background-color: #7613f1;
    color: wheat;
    padding: 0.8rem;
    border-radius: 100%;
}

.custom-user-form-logo i {
    color: #7613f1;
    font-size: 9rem;
}

.custom-form-fileds-collection {}

.custom-2d-field,
.custom-3d-field {
    /* display: grid;
    grid-template-columns: 3rem 111%;
    align-items: center; */
    border-radius: 1rem;
}

.custom-3d-field {}

.custom-2d-field i,
.custom-3d-field i {}

.custom-2d-field input,
.custom-3d-field input {
    color: black;
    font-size: 1.6rem;
    padding: 0.2rem;
    border-width: 0px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 2px solid #cec0c0;
}

.custom-3d-field input {
    border-radius: 0rem;
}

.custom-field-logo-left,
.custom-field-logo-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #7613f1;
    color: white;
    border-width: 0px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.custom-field-logo-right {
    border-radius: 0rem;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.form-submit-btn,
.custom-user-form-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-submit-btn button {
    background-color: #7613f1;
}

.custom-spinner {
    color: #7613f1;
}

.incorrect-password{
    margin-bottom: -0.2rem !important;
}